::-webkit-scrollbar{
    display: none;
}

html{
    scroll-behavior: smooth;
}

*{margin: 0; padding: 0; box-sizing: border-box;font-family: 'Montserrat';overflow-x:hidden}


@media only screen and (max-width: 420px) {
  
  td:nth-child(4) {
    display:none;
  }
  th:nth-child(4) {
    display:none;
  }  
  td:nth-child(5) {
    display:none;
  }
  th:nth-child(5) {
    display:none;
  }
    td:nth-child(6) {
    display:none;
  }
  th:nth-child(6) {
    display:none;
  }
    td:nth-child(7) {
    display:none;
  }
  th:nth-child(7) {
    display:none;
  }
    td:nth-child(8) {
    display:none;
  }
  th:nth-child(8) {
    display:none;
  }
    td:nth-child(9) {
    display:none;
  }
  th:nth-child(9) {
    display:none;
  }
    td:nth-child(10) {
    display:none;
  }
  th:nth-child(10) {
    display:none;
  }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {*/
    color: #d8ff00;
    background-color: #ffffff3d;
    border-color: #e2e2e200 #dee2e600 #d8ff00;
}